certifi==2020.4.5.1
chardet==3.0.4
cnocr==1.2.2
cycler==0.10.0
gluoncv==0.6.0
graphviz==0.8.4
idna==2.9
jieba==0.42.1
JPype1==0.7.0
kiwisolver==1.2.0
matplotlib==3.2.1
mongoengine==0.20.0
mxnet==1.6.0
numpy==1.18.4
Pillow==7.1.2
portalocker==1.7.0
pyhanlp==0.1.66
pyltp==0.2.1
pymongo==3.10.1
pyparsing==2.4.7
pytesseract==0.3.4
python-dateutil==2.8.1
requests==2.23.0
scipy==1.4.1
six==1.15.0
tqdm==4.46.0
urllib3==1.25.9
